@model IEnumerable<_17DH110151_LyQuyen.Models.Sach>
@{
    Layout = null;
}

@using _17DH110151_LyQuyen.Models
<h6>Giỏ Hàng</h6>
@{
    double tong = 0;
}
<table class="table">
    <tr>
        <th>
            Tên Sách
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>Số Lượng</th>
        <th>Thành Tiền</th>
        <th></th>
    </tr>

    @foreach (var item in (List<GioHang>)Session["GH"])
    {
        tong = tong + (item.SoLuong * item.Sach.Gia);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.TenSach)
            </td>
            <td>
                <img src="~/Images/@item.Sach.ItemImageName" style="width:100%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sach.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @(item.SoLuong * item.Sach.Gia)
            </td>
            <td>
                <a href="/cart/Xoa?id=@item.Sach.MaSach" class="btn btn-danger">Xoá</a>
            </td>
        </tr>
    }
</table>
@if (@Session["GH"]!=null)
{
<a href="~/cart/Buy" class="btn btn-info">
    Buy
</a>
}
else
{
<a href="~/cart/Buy" class="btn btn-info disabled" >
    Buy
</a>
}


<h5>Tổng Tiền : @tong VND</h5>