@model IEnumerable<_17DH110151_LyQuyen.Models.GioHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Tên sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Ngày mua
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayMua)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
